<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script th:src="@{/js/jquery-1.3.2.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function() {
        $('#upload').click(function() {
            var formData = new FormData($('#uploadForm')[0]);

            $.ajax({
                url: '/upload', // 上传文件的服务器端地址
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    // 上传成功后的处理逻辑
                    console.log('文件上传成功');
                    console.log(response);
                    // 渲染下拉列表中的选项
                    var fileList = response.fileNames;
                    $.each(fileList, function(index, fileName) {
                        $('#fileList').append($('<option>', {
                            value: fileName,
                            text: fileName
                        }));
                    });
                },
                error: function(error) {
                    // 上传失败后的处理逻辑
                    console.log('文件上传失败');
                    console.log(error);
                }
            });
        });
    });
</script>
<h1>文件上传</h1>
<form id="uploadForm" enctype="multipart/form-data" method="post">
    <label>多文件：<input type="file" name="musics" multiple/></label>
    <br/>
</form>
<button type="button" id="upload">上传</button>

<!-- 下拉列表 -->
<select id="fileList">
    <option value="">请选择文件</option>
</select>

</body>
</html>
