<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<label><input type="checkbox" name="option" value="option1" th:checked="${option1Selected}">选项1</label><br>
<input type="button" value="提交" onclick="submitForm()">
<script>
    function submitForm() {
        // 发送 AJAX 请求
        $.ajax({
            type: "POST",
            url: "/upload",
            data: {option1Selected: $('input[name="option"]').is(':checked')},
        });
    }
</script>
<!--<h2>请选择多个选项：</h2>-->
<!--<label><input type="checkbox" name="option" value="option1">选项1</label><br>-->
<!--<input type="button" value="提交" onclick="submitForm()">-->
<!--<script>-->
<!--    function submitForm() {-->
<!--        // 检查是否选中了 "选项1"-->
<!--        var checkbox = document.getElementsByName("option")[0];-->
<!--        if (checkbox.checked) {-->
<!--            // 发送 AJAX 请求-->
<!--            $.ajax({-->
<!--                type: "POST",-->
<!--                url: "/upload",-->
<!--                success: function(data) {-->
<!--                    // 上传成功-->
<!--                    console.log(data);-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--    <form method="post" action="/upload" enctype="multipart/form-data">-->
<!--        <label>文件：</label>-->
<!--        <input type="file" name="file">-->
<!--        <label>多文件：</label>-->
<!--        <input type="file" name="files" multiple>-->
<!--        <label>file-path:</label>-->
<!--        <input type="text" id="file-path" name="file-path" />-->
<!--        <input type="text" id="file-path3" name="file-path3" />-->
<!--        <input type="submit" value="submit">-->
<!--    </form>-->
<!--<script>-->
<!--    document.getElementById("file-path").value = "/Users/dingchao/Documents/test/1.mp3"-->
<!--    document.getElementById("file-path3").value = "/Users/dingchao/Documents/test/3.mp3"-->
<!--</script>-->


</body>
</html>